.tasks {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
  
.tasks.open {
  max-height: 1000px;
  opacity: 1;
  transition: max-height 0.1s ease-in-out, opacity 0.3s ease-in-out;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}



  