.menuLabel{
    font-size: 1.2rem;
    font-weight: 40000;
}

.subMenuLabel{
    font-size: 1rem;
    font-weight: 400;
}

h1{
    font-size: 2rem;
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6, p{
    color: white;
}

.task-btns-check
{
    border-radius: 0 0.5rem 0 0;
}

.task-btns-del
{
    border-radius: 0  0 0.5rem 0;
}

.tasks {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
.tasks.open {
  max-height: 1000px;
  opacity: 1;
  transition: max-height 0.1s ease-in-out, opacity 0.3s ease-in-out;
}

.disable-text-selection {
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}   